<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.zz.ccy.mapping.ArticleInfoMapper">

     <resultMap type="com.zz.ccy.entity.ArticleInfo" id="ArticleInfoResult">
       <id column="id" jdbcType="INTEGER" property="id"/>
       <result column="openId" jdbcType="VARCHAR" property="openId"/>
       <result column="author" jdbcType="VARCHAR" property="author"/>
       <result column="articleTitle" jdbcType="VARCHAR" property="articleTitle"/>
       <result column="articleContent" jdbcType="VARCHAR" property="articleContent"/>
       <result column="timec" jdbcType="VARCHAR" property="timec"/>
       <result column="status" jdbcType="INTEGER" property="status"/>
     </resultMap>
    
    <!-- 插入 WeiXinUserInfo-->
	<insert id="insertArticleInfo" useGeneratedKeys="true" keyProperty="id">
	     insert into d_wx_wz (userid,author,wzname,articleContent,timec,status) 
	     values (#{userid},#{author},#{articleTitle},#{articleContent},#{timec},#{status})
	</insert>
    <!-- 根据用户openId获取userId -->
    <select id="getUserIdByOpenId" parameterType="java.lang.String" resultType="Integer">
        select id from d_wx_user_info where openId = #{openId,jdbcType=VARCHAR}
    </select>
</mapper>