<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
	<mapper namespace="com.zz.ccy.mapping.GreensInfoMapper">
	
	     <resultMap type="com.zz.ccy.lf.entity.Greens" id="GreensInfoResult">
	       <id column="id" jdbcType="INTEGER" property="id"/>
	       <result column="storeid" jdbcType="INTEGER" property="storeid"/>
	       <result column="chefid" jdbcType="INTEGER" property="chefid"/>
	       <result column="imgs" jdbcType="VARCHAR" property="imgs"/>
	       <result column="name" jdbcType="VARCHAR" property="name"/>
	       <result column="price" jdbcType="FLOAT" property="price"/>
	       <result column="tags" jdbcType="VARCHAR" property="tags"/>
	       <result column="zan" jdbcType="INTEGER" property="zan"/>
	     </resultMap>
	    
	    <!-- 根据店铺id获取对应特色菜 -->
	    <select id="getGreensByStoreId" parameterType="int" resultMap="GreensInfoResult">
	        select g.id,g.imgs,g.name,g.price,g.tags,g.zan from d_wx_greens g where g.storeid= #{storeId}
	    </select>
	    <!-- 获取点赞数 -->
	    <select id="getGreenZanCountById" parameterType="int" resultType="int">
	       select g.zan from d_wx_greens g where g.id = #{greenId}
	    </select>
	    <!-- 更新点赞数 -->
	    <update id="updateGreenZanCountById" parameterType="java.util.Map">
	       update d_wx_greens set zan=#{count} where id=#{greenId}
	    </update>
	    
	    <!-- 根据厨师id获取此厨师得特色菜 -->
	    <select id="getGreensByChefId" parameterType="int" resultMap="GreensInfoResult">
	       select g.id,g.imgs,g.name,g.price,g.tags,g.zan from d_wx_greens g where g.chefid= #{chefId}
	    </select>
	    
	        <!-- lf -->
	    
	    <insert id="addGreens" >
	    insert into d_wx_greens(storeid,chefid,imgs,name,price,tags,zan) values
	    (#{storeid},#{chefid},#{imgs},#{name},#{price},#{tags},#{zan})
	    </insert>
	    
	    <update id="updateGreens" parameterType="com.zz.ccy.lf.entity.Greens" >
		
		update d_wx_greens set chefid=#{chefid},imgs=#{imgs},name=#{name},price=#{price},tags=#{tags} where id=#{id}
		
		</update>	 
		
		<delete id="delGreens" parameterType="integer">
		
		delete d_wx_greens where id=#{id}
		
		</delete>
		
		
	    <select id="getGreensList" parameterType="integer" resultMap="GreensInfoResult">
	    
	    select * from d_wx_greens where storeid=#{storeid}
	    
	    </select>
	    
	    <select id="getGreensById" parameterType="integer" resultMap="GreensInfoResult">
	    
	        select * from d_wx_greens where id=#{id}
	    
	    </select>
	    
	    
	</mapper>

