<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
 -->
<mapper namespace="com.zz.ccy.mapping.WeixinUserInfoMapper">
    <!-- 在select标签中编写查询的SQL语句， 设置select标签的id属性为getUser，id属性值必须是唯一的，不能够重复
    使用parameterType属性指明查询时使用的参数类型，resultType属性指明查询返回的结果集类型
    resultType="me.gacl.domain.User"就表示将查询结果封装成一个User类的对象返回
    User类就是users表所对应的实体类
    -->    
    <!-- 
           根据id查询得到一个user对象
     -->
     <resultMap type="com.zz.ccy.entity.WeixinUserInfo" id="WeixinUserInfoResult">
       <id column="id" jdbcType="INTEGER" property="id"/>
       <result column="openId" jdbcType="VARCHAR" property="openId"/>
       <result column="subscribe" jdbcType="INTEGER" property="subscribe"/>
       <result column="subscribeTime" jdbcType="VARCHAR" property="subscribeTime"/>
       <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
       <result column="age" jdbcType="INTEGER" property="age"/>
       <result column="sex" jdbcType="INTEGER" property="sex"/>
       <result column="country" jdbcType="VARCHAR" property="country"/>
       <result column="province" jdbcType="VARCHAR" property="province"/>
       <result column="city" jdbcType="VARCHAR" property="city"/>
       <result column="language" jdbcType="VARCHAR" property="language"/>
       <result column="headImgUrl" jdbcType="VARCHAR" property="headImgUrl"/>
       <result column="groupId" jdbcType="INTEGER" property="groupId"/>
       <result column="address" jdbcType="VARCHAR" property="address"/>
       <result column="tel" jdbcType="VARCHAR" property="tel"/>
       <result column="email" jdbcType="VARCHAR" property="email"/>
       <result column="brithday" jdbcType="VARCHAR" property="brithday"/>
       <result column="education" jdbcType="VARCHAR" property="education"/>
       <result column="remark" jdbcType="VARCHAR" property="remark"/>
       <result column="truename" jdbcType="VARCHAR" property="truename"/>
       <result column="ercode" jdbcType="VARCHAR" property="ercode"/>
       <result column="status" jdbcType="INTEGER" property="status"/>
     </resultMap>
     
     <resultMap id="ResultOfInteger" type="java.lang.Integer">  
    <result column="status" property="status" jdbcType="INTEGER" />  
	</resultMap>
     
     <select id="getUserStatus" parameterType="string" resultMap="ResultOfInteger">
     
     select status from d_wx_user_info where openId=#{openid}
     
     </select>
        
     <select id="getUserinfoByopenid" parameterType="string" resultMap="WeixinUserInfoResult">
     
        select * from d_wx_user_info where openId=#{openid}
     
     </select>
     <!-- 根据用户id获取用户信息 -->     
     <select id="getUserInfoById" parameterType="int" resultMap="WeixinUserInfoResult">
        select * from d_wx_user_info where id=#{userId}
     </select>
     
     <!-- 根据openId判断用户是否存在 -->
     <select id="checkUserInfoExistByOpenId" parameterType="string" resultType="int">
       select count(*) from d_wx_user_info u where u.openId=#{openId} 
     </select>
     <!-- 更新用户信息 -->
     <update id="updateUserInfoExistByOpenId" parameterType="com.zz.ccy.entity.WeixinUserInfo">
        update d_wx_user_info set headImgUrl=#{headImgUrl},subscribeTime=#{subscribeTime}
         ,nickname=#{nickname},age=#{age},sex=#{sex},country=#{country},province=#{province},
         city=#{city},language=#{language},groupId=#{groupId},address=#{address},
         tel=#{tel},email=#{email},brithday=#{brithday},education=#{education},
         remark=#{remark},truename=#{truename},ercode=#{ercode} where openId=#{openId}
     </update>
     <!-- lifei-use 个人中心首页-->
     <resultMap type="com.zz.ccy.entity.UserCorepage" id="ucp">
	     <result column="headimg" jdbcType="VARCHAR" property="headimg" />
	     <result column="username" jdbcType="VARCHAR" property="username" />
	     <result column="sex" jdbcType="VARCHAR" property="sex" />
	     <result column="userid" jdbcType="INTEGER" property="userid" />
	     <result column="msb" jdbcType="INTEGER" property="msb" />
	     <result column="zdmsb" jdbcType="INTEGER" property="zdmsb" />
	     <result column="code" jdbcType="VARCHAR" property="code" />
	     <result column="wzstatus" jdbcType="INTEGER" property="wzstatus" />
	     <result column="scstatus" jdbcType="INTEGER" property="scstatus" />
	     <result column="zjstatus" jdbcType="INTEGER" property="zjstatus" />
	     <result column="tzstatus" jdbcType="INTEGER" property="tzstatus" />
     </resultMap>

	<insert id="addUserCore" parameterType="map">
	
	insert into d_wx_userCoreStatus(userid,code)values(#{userid},#{code})
	
	</insert>     
     
     <!-- 用户头像信息 -->
     <resultMap type="com.zz.ccy.entity.UserHeadinfo" id="userHeadinfo">
          <result column="truename" jdbcType="VARCHAR" property="truename" />
	     <result column="headimgurl" jdbcType="VARCHAR" property="headimgurl" />
	     <result column="tel" jdbcType="VARCHAR" property="tel" />
	     <result column="id" jdbcType="INTEGER" property="id" />
     </resultMap>
     
       <!-- 商户用户信息 -->
     <resultMap type="com.zz.ccy.lf.entity.MerchantInfo" id="merchant">
         <id column="id" jdbcType="INTEGER" property="id"/>
         <result column="openid" jdbcType="VARCHAR" property="openid" />
         <result column="userid" jdbcType="INTEGER" property="userid" />
	     <result column="storeid" jdbcType="INTEGER" property="storeid" />
	     <result column="status" jdbcType="INTEGER" property="status" />
	     <result column="timec" jdbcType="VARCHAR" property="timec" />
     </resultMap>
     
     
     
       
     
     
     <select id="addMerchant"  parameterType="map" >
     
     	{ call pro_updateMerchant (#{userid},#{storeid},#{timec})}
     
     </select>
     
     <select id="isMerchant" parameterType="integer" resultMap="merchant">
     
     select * from d_wx_merchant where userid=#{userid}
     
     </select>
     
     
     <select id="getUserHeadinfo" parameterType="string" resultMap="userHeadinfo"> 
     
     select id,headImgUrl headimgurl,truename from d_wx_user_info where tel=#{tel}
     </select>
     
     
     
     <select id="getUserInfo" parameterType="integer" resultMap="WeixinUserInfoResult">
     select * from d_wx_user_info where id=#{userid}
     </select>
     
     <!-- 根据openId获取WeiXinUserInfo集合
    <select id="getDyhUserList" parameterType="string" resultMap="WeixinUserInfoResult">
        select * from t_hz_wx_dyh_weixinUserInfo where openId=#{id}
    </select>-->
    <!-- 根据openId获取WeiXinUserInfo集合
    <select id="getFwhUserList" parameterType="string" resultMap="WeixinUserInfoResult">
        select * from t_hz_wx_fwh_weixinUserInfo where openId=#{id}
    </select>
    -->
    
    <!-- 插入 WeiXinUserInfo-->
	<insert id="insertUserInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.zz.ccy.entity.WeixinUserInfo">
	     insert into d_wx_user_info (openId,subscribe,subscribeTime,nickname,age,sex,country,province,city,
	     language,headImgUrl,groupId,address,tel,email,education,remark,truename) 
	     values (#{openId},#{subscribe},#{subscribeTime},#{nickname},#{age},#{sex},#{country},#{province},#{city},
	     #{language},#{headImgUrl},#{groupId},#{address},#{tel},#{email},#{education},#{remark},#{truename})
	</insert>
	
	<select id="select_usercorepage" parameterType="string" resultMap="ucp"> 
		{call pro_userCorepage (#{openid})}
	</select>
	
	
	<!-- 根据用户id进行查询用户的一个审核状态信息 -->
	

	
	<select id="isMerchantUser" statementType="CALLABLE" parameterType="integer" resultType="java.lang.Integer">
	{call isMerchantUser(#{userid})}
	</select>
	
	<!-- 插入 WeiXinUserInfo
	<insert id="insertFwhUserInfo">
	     insert into t_hz_wx_fwh_weixinUserInfo (openId,subscribe,subscribeTime,nickname,sex,country,province,city,language,headImgUrl,groupId) 
	     values (#{openId},#{subscribe},#{subscribeTime},#{nickname},#{sex},#{country},#{province},#{city},#{language},#{headImgUrl},#{groupId})
	</insert>
	-->
	<!-- 李飞修改使用 -->
	
	
	<update id="updateDyhUserInfo">
	   update d_wx_user_info set address=#{address},brithday=#{brithday},tel=#{tel},email=#{email},education=#{education},remark='用户说明',truename=#{truename}
	     where openId=#{openId}                       
	</update>
	<!-- 更新 XinUserInfo
	<update id="updateFwhUserInfo">
	   update t_hz_wx_fwh_weixinUserInfo set openId=#{openId},subscribe=#{subscribe},subscribeTime=#{subscribeTime},nickname=#{nickname},sex=#{sex},
	                             country=#{country},province=#{province},city=#{city},language=#{language},headImgUrl=#{headImgUrl},groupId=#{groupId} 
	   where openId=#{openId}                          
	</update>-->
	
	<!-- 获取WeixinUserInfo nickname为null的openId为空的集合 
	<select id="getDyhUserListNicknameIsNull" parameterType="string" resultMap="WeixinUserInfoResult">
        select openId from t_hz_wx_dyh_weixinUserInfo where nickname is null
    </select>-->
    <!-- 获取WeixinUserInfo nickname为null的openId为空的集合 
	<select id="getFwhUserListNicknameIsNull" parameterType="string" resultMap="WeixinUserInfoResult">
        select openId from t_hz_wx_fwh_weixinUserInfo where nickname is null
    </select>-->
    
    <!-- 获取WeixinUserInfo 的openId的集合 
	<select id="getDyhOpenIdList" parameterType="string" resultMap="WeixinUserInfoResult">
        select openId from t_hz_wx_dyh_weixinUserInfo
    </select>-->
    <!-- 获取WeixinUserInfo 的openId的集合 
	<select id="getFwhOpenIdList" parameterType="string" resultMap="WeixinUserInfoResult">
        select openId from t_hz_wx_fwh_weixinUserInfo
    </select>-->
    
    <!-- 获取WeixinUserInfoList 
    <select id="getDyhUserInfoList" resultMap="WeixinUserInfoResult">
       select * from t_hz_wx_dyh_weixinUserInfo
    </select>-->
    <!-- 获取WeixinUserInfoList 
    <select id="getFwhUserInfoList" resultMap="WeixinUserInfoResult">
       select * from t_hz_wx_fwh_weixinUserInfo
    </select>-->
    
    <!-- 批量插入 
    <insert id="insertDyhUserInfoBatch" useGeneratedKeys="true" parameterType="java.util.List">
      insert into t_hz_wx_dyh_weixinUserInfo (openId,subscribe,subscribeTime,nickname,sex,country,province,city,language,headImgUrl,groupId) values 
      <foreach collection="list" item="item" index="index" separator=","> 
         (#{item.openId},#{item.subscribe},#{item.subscribeTime},#{item.nickname},#{item.sex},#{item.country},#{item.province},#{item.city},#{item.language},#{item.headImgUrl},#{item.groupId}) 
      </foreach> 
    </insert>-->
    <!-- 批量插入 
    <insert id="insertFwhUserInfoBatch" useGeneratedKeys="true" parameterType="java.util.List">
      insert into t_hz_wx_fwh_weixinUserInfo (openId,subscribe,subscribeTime,nickname,sex,country,province,city,language,headImgUrl,groupId) values 
      <foreach collection="list" item="item" index="index" separator=","> 
         (#{item.openId},#{item.subscribe},#{item.subscribeTime},#{item.nickname},#{item.sex},#{item.country},#{item.province},#{item.city},#{item.language},#{item.headImgUrl},#{item.groupId}) 
      </foreach> 
    </insert>-->
    
    <!-- 清零 
    <delete id="deleteAllDyhUserInfo">
       delete from t_hz_wx_dyh_weixinUserInfo
    </delete>-->
    <!-- 清零 
    <delete id="deleteAllFwhUserInfo">
       delete from t_hz_wx_fwh_weixinUserInfo
    </delete>-->
    
    <!-- 根据openId删除WeiXinUserInfo--> 
    <delete id="deleteUserInfoByOpenId" parameterType="string">
       delete from d_wx_user_info where openId=#{openId}
    </delete>
    <!-- 根据openId删除WeiXinUserInfo  
    <delete id="deleteFwhUserInfoByOpenId" parameterType="string">
       delete from t_hz_wx_fwh_weixinUserInfo where openId=#{openId}
    </delete>-->
    <!-- 根据openId查询用户是否存在 -->
    <select id="checkUserIsExistByOpenId" parameterType="string" resultType="int">
       select count(*) from d_wx_user_info where openId=#{openId}
    </select>
    
    <!-- 根据用户手机号查询用户性别 
    <select id="getUserSexByPhoneNum" parameterType="map" resultType="string">
       select top(1) sex from t_hz_wx_signup where phone=#{phoneNum} and serial_num=#{yuyueCode}
    </select>-->
</mapper>